<link rel="stylesheet" href="/dist/css/ArticleDetails.min.css">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap样式 -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <!-- iconfont字体库 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2134075_y6zc20tvsv.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../dist/css/CommonStyle.min.css">
    <!-- 全部分类样式 -->
    <link rel="stylesheet" href="/dist/css/AllCate.min.css">
</head>

<body>
    <div class="wrapper">
        <!-- 顶部导航栏 -->
        {{include './common/headNavbar.html'}}
        <!-- 中间主体 -->
        <div class="section_wrap" style="display: flex;justify-content: center;padding: 24px 16px;">
            <div class="container">
                <div class="row">
                    <!-- 左边栏 -->
                    {{include './common/sidebar_left.html'}}
                    <!-- 中间主体 -->
                    <div class="col-xs-12 col-md-8 col-lg-7" style="background-color: #fff;border-radius: 5px; overflow: hidden; box-shadow: 0 0 5px #ccc;">
                        <div id="nav-pills">
                            <a href="javascript:;" class="underline">全部分类</a>
                            <a href="javascript:;">体育</a>
                            <a href="javascript:;">体育</a>
                        </div>
                        <!--  -->
                        <div id="classifiedArticles" style="min-height: 640px;">
                            <!-- <a href="javascript:;">
                                <div class="publish" id="btmArticle">
                                    <div class="row articleLine">
                                        <div class="col-sm-9">
                                            <h3 class="post-title">坚守岗位 铁路春运背后的守护人</h3>
                                            <p class="text-muted"><span>cherryNet</span>&nbsp;发布于&nbsp;<span>2021-2-9 21:00</span></p>
                                            <p class="text-muted">分类 ：<a href="javascript:;">体育</a></p>
                                        </div>
                                        <div class="col-sm-3 hidden-xs pic">
                                            <img src="/public/image/code.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </a> -->
                        </div>
                        <!--  -->
                        <div class="loadMore" id="loadMore">
                            加载更多
                        </div>
                    </div>
                    <!-- 右边栏 -->
                    {{include './common/sidebar_right.html'}}
                </div>
            </div>
        </div>
        <!-- 底部 -->
        {{include './common/footer.html'}}
</body>
<script src="/dist/js/AllCate.js"></script>

</html>