<!-- 底部css样式 -->
<link rel="stylesheet" href="/dist/css/footer.min.css">

<footer class="footer">
    <div class="footer-container">
        <div>
            <div class="footer-dsc">
                <span>Copyright © 2021 - 2022 </span>
                <a href="/" class="footer-link">&nbsp;&nbsp;fore-end share</a>
            </div>
        </div>
        <div class="footer-dsc">
            Powered by
            <a href="https://v3.bootcss.com/" style="color:#3c4858" target="_blank">&nbsp;Bootstrap</a>
            <span>&nbsp;|&nbsp;</span> Theme
        </div>
        <div class="footer-dsc">
            本站总访问量&nbsp;<span id="AccessStatistics" style="color:#3c4858">1612</span>&nbsp;次
        </div>
    </div>
</footer>