<!-- 头部样式 -->
<link rel="stylesheet" href="/dist/css/headNavbar.min.css">
<script src="/public/jQuery.js"></script>
<script src="/public/layer/layer.js"></script>
<div style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="navbar">
                <div class="logo">
                    <a href="script:;">
                        <img src="/public/image/Oyt_BLOG.png" alt="">
                    </a>
                    <span class="navbar_logo_dsc">fore-end share</span>
                </div>
                <div class="nav">
                    <a href="/">首页</a>
                    <a href="/AllCate">分类</a>
                    <a href="/Article_List">文章列表</a>
                    <a href="/searchMod" class="iconfont icon-sousuo"></a>
                </div>
            </div>
        </div>
    </div>
</div>