<link rel="stylesheet" href="//at.alicdn.com/t/font_2134075_v9cfozaykx.css">
<link rel="stylesheet" href="/dist/css/sidebar_left.min.css">
<!-- 左边栏 -->
<div class="col-md-4 col-lg-3  hidden-sm hidden-xs" style="padding-left: 0;" >

    <div class="left-column">
        <img src="/public/image/Oyt_BLOG.png" alt="">
        <p class="author-name">fore-end share</p>
        <p class="author-description">designed by theme-oyt</p>
        <div class="author-message">
            <a href="/Article_List">
                <span id="articleSta">2</span>
                <span>文章</span>
            </a>
            <a href="/AllCate">
                <span id="sort_mun">&nbsp;</span>
                <span>分类</span>
            </a>
            <a href="/searchMod">
                <span class="iconfont icon-sousuo"></span>
                <span>搜索</span>
            </a>
        </div>
        <div class="author-card-society">
            <div class="author-card-society-icon">
                <a href="https://github.com/cherryNet/ArticleFront" target="_blank">
                    <i class="iconfont icon-GitHub1"></i>
                </a>
            </div>
            <div class="author-card-society-icon">
                <a href="https://v3.bootcss.com/" target="_blank">
                    <i class="iconfont icon-bootstrap"></i>
                </a>
            </div>
            <div class="author-card-society-icon">
                <a href="javascript:;" id="qqContact">
                    <i class="iconfont icon-QQ"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- 左侧下边 -->
    <div class="left_clas">
        <div class="categories-card">
            <div class="categories-header">
                <i class="iconfont icon-fenlei" style="padding-right:2px"></i> 分类
            </div>
            <div class="categories-list" id="sort_left">
                <a href="javascript:;">
                    <div class="categories-list-item">
                        <span>文档</span>
                        <span class="categories-list-item-badge">3</span>
                    </div>
                </a>

                <a href="javascript:;">
                    <div class="categories-list-item">
                        <span>演示</span>
                        <span class="categories-list-item-badge">1</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

<script src="/dist/js/sidebar_left.js"></script>