<link rel="stylesheet" href="/dist/css/sidebar_right.min.css">
<!-- 右边栏 -->
<div class="col-lg-2 visible-lg">
    <article class="card-content">
        <div class="recent-posts-card" id="RecentArticles">
            <!-- <div class="recent-posts-header">
                <i class="iconfont icon-wendang1" style="padding-right:3px"></i>最近文章
            </div>
            <div class="recent-posts-list">
                <div class="recent-posts-item">
                    <div class="recent-posts-item-title">2020-08-03</div>
                    <a href="javascript:;">
                        <div class="recent-posts-item-content">主题使用文档2sdff</div>
                    </a>
                </div>
            </div>

            <div class="recent-posts-list">
                <div class="recent-posts-item">
                    <div class="recent-posts-item-title">2020-08-03</div>
                    <a href="javascript:;">
                        <div class="recent-posts-item-content">主题使用文档3</div>
                    </a>
                </div>
            </div> -->
        </div>
    </article>
</div>
<script src="/dist/js/sidebar_right.js"></script>